@import "../../variables";

.main {
  article {
    background-color: rgba(255, 255, 255, 0.85);
    max-width: 700px;
    padding: 20px;
    margin: 0 20px;
    box-shadow: 15px 15px 15px rgba(198, 198, 198, 0.2);
    display: block;
    position: relative;
    border-top-right-radius: 10px;
    
    &:before,
    &:after {
      content: "";
      position: absolute;
      background: rgba($primary-darkest,.2);
      border-radius: 5px;
      z-index: -1;
    }
    
    &:before {
      top: 5px;
      right: 20px;
      height: 100px;
      width: 2px;      
    }
    &:after {
      top: 20px;
      right: 5px;
      height: 2px;
      width: 100px;            
    }
    
    & {
      *:first-child, *:last-child {
        margin-top: 0;
      }
    }
  }
  
  img {
    width: 100%;
  }
}