@import "../../variables";

.mktlr {
  font-size: 5em;
  line-height: 1;
  transition: font-size 1s ease;
  border-bottom: 5px solid gray;
  display: inline-block;
  margin: 0;
  
  @media only screen and (max-width: 600px) {
    & {
      font-size: 3em;
    } 
  }
  
  .hidden {
    transition: opacity 3s ease, max-width 2s ease;
    display: inline-block;
    opacity: 0;
    max-width: 0;    
  }
  
  &:hover .hidden {
    max-width: 100px;
    opacity: 1;
  }
}
.faster {
  @extend .hidden;
  // !important required for some reason.
  // I blame webpack.
  transition: opacity 3s ease, max-width 1.3s ease !important;
}

.nav {
  ul {
    list-style-type: none;
    li {
      float: left;
    }
  }
}

.active {
  background: $primary-color;
}