.h1 {
  font-size: 5em;
  line-height: 1;
  transition: font-size 1s ease;
  
  @media only screen and (max-width: 600px) {
    & {
      font-size: 3em;
    } 
  }
  
  .hidden {
    //float: left;
    transition: opacity 1s ease, max-width 1s ease;
    display: inline-block;
    opacity: 0;
    max-width: 0;    
  }
  
  &:hover .hidden {
    max-width: 100px;
    opacity: 1;
    
    .gap {
      margin-right: 20px;
    }
  }
}

.nav {
  ul {
    list-style-type: none;
    li {
      float: left;
    }
  }
}