@import "../variables";
@import "../em-reset";

* {
  box-sizing: border-box;
}

html {
  font-family: $body-font;
  font-size: 62.5%;
  color: $primary-darkest;
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.7rem;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

// General Spacing
main {
  p, ol, ul {
    margin-bottom: 1.5rem;
  }
}

// Lists
main {
  ol, ul {
    list-style-type: circle;
    margin-left: 3rem;
  }
  li:hover {
    list-style-type: disc;
  }
}

// Hyperlinks
main a {
  color: $primary-darkest;
  border-bottom: 3px solid $primary-color;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background .5s ease;
  position: relative;
  padding: {
    left: 2px;
    right: 2px;
  }
  
  &:hover {
    background: $primary-lightest;
    border-color: $primary-color !important;
  }
  &:active {
    top: 1px;
    background: transparent;
  }
  
  &:visited {
    border-color: #d8d8d8;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: $heading-font;
}

main {
  h1 {
    font-size: $h1-size;
    margin: $h1-margin;
  }
  h2 {
    font-size: $h2-size;
    margin: $h2-margin;
  }
  h3 {
    font-size: $h3-size;
    margin: $h3-margin;
  }
  h4 {
    font-size: $h4-size;
    margin: $h4-margin;
  }
  h5 {
    font-size: $h5-size;
    margin: $h5-margin;
    font-style: italic;
  }
  h6 {
    font-size: $h6-size;
    margin: $h6-margin;
    font-style: italic;
    font-weight: normal;
  }
}

::selection {
  background: rgba($primary-lightest,.5);
}