@import "../variables";

* {
  box-sizing: border-box;
}

html {
  font-family: $body-font;
  font-size: 62.5%;
  line-height: 1.4;
  color: $primary-darkest;
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

p {
  margin-bottom: 1.5rem;
}

main a {
  color: $primary-darkest;
  border-bottom: 3px solid $primary-color;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background .5s ease;
  position: relative;
  padding: {
    left: 2px;
    right: 2px;
  }
  
  &:hover {
    background: $primary-lightest;
    border-color: $primary-color !important;
  }
  &:active {
    top: 1px;
    background: transparent;
  }
  
  &:visited {
    border-color: #d8d8d8;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

::selection {
  background: rgba($primary-lightest,.5);
}