@import "../../../variables";

$bg-showing: $primary-color;
$bg-hidden: #e9e9e9;
$box-height: 200px;

.skillBox {
  position: relative;
  background: $bg-showing;
  display: block;
  overflow: hidden;
  width: 50%;
  height: $box-height;
  float: left;
  
  &:before, &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    box-shadow: 0 0 30px 30px $bg-showing;
    left: 0;
    z-index: 2
  }
  
  &:before {
    top: 0;
  }
  
  &:after {
    bottom: 0;
  }
  
  // React synthetic events are bound to the 'Link' component which is rendered as an <a> tag
  a {
    color: $primary-darkest;
    h1 {
      position: absolute;
      background: $bg-hidden;
      line-height: $box-height;
      text-align: center;
      font-size: 2rem;
      height: 100%;
      width: 100%;
      opacity: 1;
      top: 0;
      left: 0;
      border: 1px solid black;
      transition: background-color .5s ease;
      z-index: 10;
    }
    
    &:hover, &:focus {
      h1 {
        color: transparent;
        background: transparent;
        //border-color: transparent;
      }
    }
  }
  
  ul {
    position: relative;
    height: 100%;
    padding-left: 0;
    margin: 0;
  }
  
  // Skills
  li {
    position: absolute;
    font-size: 2rem;
    //font-weight: bold;
    z-index: 1;
    list-style-type: none;
    padding: 5px 20px;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
  }
}