.background {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: {
    size: cover;
    position: center;
    image: url("./bird.jpg");
  }
  background-blend-mode: screen;
  transition-property: background;
  transition-timing-function: ease;
}
